*{
    margin:0px;
    padding: 0px;
    font-family: "Playfair Display SC", serif; 
}
:root{
    --x:rgb(66,8,8)
}
#main{
    background-image: url('./image/img1.jpg');
    width: 100%;
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#logo{
    width: 220px;
    height: 100px;
}
ul li{
    font-size: 20px;
}
#BUTTON{
    background-color: var(--x);
    color: white;
}
#BUTTON:hover{
    background-color: white;
    color: var(--x);
    border-color: var(--x);
}
#backg{
    background-color: rgba(0, 0, 0, 0.478);
    width: 100%;
    /* height: 100vh; */
}
li i{
    color: rgb(180, 175, 175);
}
@media(max-width:992px){
    .nav-item i{
        display: none;
    }
}
#welcome{
    margin-top: 22%;
    margin-left: 5%;
    color: white;
}
#welcome h4{
    font-size: 30px;
}
#welcome h1{
    font-size: 100px;
}
@media(max-width:600px){
    #welcome h4{
        font-size: 20px;
    }
    #welcome h1{
        font-size: 50px;
    }
}
#welcome button{
    border-color: white;
    color: white;
}
#work{
    background-image: url(https://img.freepik.com/premium-photo/pencil-lines-handdrawn-fine-horizontal-grey-white-stripes-texture-background-scanned-from_817921-8924.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 8%;
    padding-top: 6%;
}
#viewBtn1:hover,#viewBtn2:hover,#viewBtn3:hover,#viewBtn4:hover{

    background-color: var(--x);
    color: white;
}
#viewBtn1,#viewBtn2,#viewBtn3,#viewBtn4{

    background-color: white;
    color: var(--x);
    border-color: var(--x);
}
#about{
    background-color: rgb(183, 177, 177);
    padding-top: 8% ;
}
#about h1{
    color: var(--x);
}
#hr{
    background-color: var(--x);
    width: 200px;
    height: 7px;

}
#about p{
    text-align: justify;
}
#aboutDiv{
    border: 7px solid var(--x);
    width: 80%;
    height: 430px;
    padding-top: 4%;
    padding-left: 4%;
}
#div1{
    background-color: rgba(0, 0, 0, 0.821);
    width: 50%;
    height: 6rem;
    color: white;
}
.div2{
    background-color: rgba(0, 0, 0, 0.851);
    width: 66%;
    height: 5rem;
    color: white;
}
